<div class="p-lg-4 row w-100">
    <div class="d-lg-block d-none col-lg-6 p-5 text-center">
        <div class="w-75 container">
            <img src="../../assets/imagenes/escudo.png" class="img-fluid rounded-top" alt="">
        </div>
    </div>
    <div class="col-lg-6 p-lg-5 p-2 br-3 border-5">
        <div class="p-4 shadow-lg">
            <h1 class="text-center">Inicio de sesión</h1>
            <form action="">
                <div class="mb-3">
                <label for="" class="form-label text-center">Usuario:</label>
                <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                </div>
                <div class="mb-3">
                <label for="" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tipo</label>
                    <select class="form-select form-select-sm" name="" id="">
                        <option value="">Estudiante</option>
                        <option value="">Profesor</option>
                        <option value="">Coordinador</option>
                        <option value="">Secretaria</option>
                        <option value="">Administrador</option>
                    </select>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-secondary me-2 ms-2">Ingresar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>